{% extends "::layout.html.twig" %}

{% block app_title %}
Actor Detail
{% endblock %}

{% block app_content %}
<section id="about" class="home-section text-center bg-gray">
  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">

          <div class="team boxed-grey">
            <div class="inner">
              <h2>
                {{ actor.name }}
              </h2>
              <p class="subtitle">{{actor.birthday}}</p>
              <p class="subtitle">{{actor.place_of_birth}}</p>
              <div class="avatar text-center"><img src="http://image.tmdb.org/t/p/w300{{actor.profile_path}}" alt="" class="img-responsive" /></div>
            </div>
          </div>

        </div>
        <div class="col-lg-8">

          <div class="section-heading">
            <h2>Biography</h2>
            <p>{{ actor.biography }}</p>
          </div>

        </div>
        <br>
        <br>
      </div>
      <h2>filmography</h2>
      {% for cast in actor.cast.cast %}
      {% if loop.index0 % 6 == 0 %}
      <br>
      <div class="row">
        {% endif %}
        <div class="col-lg-2">

          <div class="team boxed-grey">
            <div class="inner">
              <h5>{{ cast.title }}</h5>
              <p class="subtitle">{{ cast.character }}</p>
              <div class="avatar"><img src="http://image.tmdb.org/t/p/w300{{ cast.poster_path }}" alt="" class="img-responsive" /></div>
            </div>
          </div>

        </div>
        {% if loop.index0% 6 == 5 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</section>
<!-- /Section: about -->
{% endblock %}
