{% extends "::layout.html.twig" %}

{% block app_title %}
Gallerie de  vidéo - {{ parent() }}
{% endblock %}

{% block app_stylesheet %}
{{ parent() }}
{% endblock %}

{% block app_content %}
<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
  <div class="heading-works marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="section-heading">
            <h2>Gallery</h2>
            <p>Show us who you are !!!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >

          {% for video in video_list %}
          {% if loop.index0%4 == 0 %}
          <div class="row">
          {% endif %}
          <div class="col-sm-3">
            <div class="thumbnail">
              {% autoescape false %}
              <img src="{{ "http://image.tmdb.org/t/p/w300" ~ video.api.poster_path | default("http://www.photodenature.fr/wp-content/uploads/2014/09/photo-Lama-5.jpg")}}" >
              <div class="caption">
                <p>{{ video.api.title | default("Title default") }}</p>
              {% endautoescape %}
                <p>
                  <a href="{{ path('ct_video_watch',{ 'id': video.id })}}" class="btn btn-warning pull-left" role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</a>
                  <a href="{{ path('ct_video_delete',{ 'id': video.id })}}" class="btn btn-danger pull-right" id="btnContactUs" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete</a>
                </p>
              </div>
              <br>
              <br>
            </div>
          </div>
          {% if loop.index0%4 == 3 %}
          </div>
          {% endif %}
          {% endfor %}

        </div>

      </div>
    </div>
  </div>
</section>


<!-- /Section: works -->
{% endblock %}
