{# src/CT/UserBundle/Resources/views/Advert/FriendList.html.twig #}

{% extends "::layout.html.twig" %}

{% block app_title %}
Invitation
{% endblock %}

{% block app_content %}
<h2>Vos Amis</h2>
<section id="about" class="home-section text-center bg-gray">
  <div class="heading-about marginbot-50">
    <div class="container">
      {% for community in app.user.invitFile %}

      <div class="row">
        <div class="col-lg-12">

          <h2 class="pull-left">{{ community.title}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <a href=""><img class="media-object" src="{{web_image(community.image.getUrlWay ).zoomCrop(320,270).jpeg | default('img/profil.jpg')}}" alt="Profile standard"></img></a>
        </div>

        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4">

              <table class="table pull-left">
                <tr>
                  <td>
                    <p class="pull-left">People</p>
                  </td>
                  <td>
                    <span class="badge">{{ community.subscribers | length}}</span>
                  </td>
                </tr>
                <tr>
                  <td>

                    <p class="pull-left">Posts</p>
                  </td>
                  <td>
                    <span class="badge">{{ community.posts | length}}</span>
                  </td>
                </tr>

              </table>
            </div>
            <div class="col-lg-3">
              <a href="{{path('ct_application_accept_community',{'idCommunity':community.id})}}" class="btn btn-primary btn-block" role="button">Accept<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
              <a href="{{path('ct_application_decline_community',{'idCommunity':community.id})}}" class="btn btn-danger btn-block" role="button">Decline<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
          </div>
          <div class="row">
            {% for user in community.subscribers %}
            {% if loop.index < 5 %}

            <div class="col-lg-2 col-lg-offset-1" >
              <img class="media-object pull-left" src="{{web_image(user.image.getUrlWay).zoomCrop(130,150).jpeg | default('img/profil.jpg')}}" alt="Profile standard"></img></a>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
